<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumProject">
  <test name="Test">
  
  <parameter name="uname" value="priya.1991ravi@gmail.com"></parameter>
    <parameter name="pass" value="paGELU5A"></parameter>
    
  <classes>
    <class name="com.edureka.testng.Parametersclass"></class>
  </classes>
  
  
  </test> <!-- Test -->
</suite> <!-- SeleniumProject -->
